In [3]:
print("hello world")

hello world

In [4]:
x = 2
y = 3

In [5]:
x + y

5

In [6]:
x + y
x - y

-1

In [7]:
print(x + y)
x - y

5

-1

In [8]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [9]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [10]:
mynums?

Type:        list
String form: [1, 2, 3, 4, 5]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [11]:
len(mynums)

5

In [12]:
sum(mynums)

15

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
mynums.sort(reverse=True)
mynums

[5, 4, 3, 2, 1]

In [17]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [18]:
%debug

> c:\users\user\appdata\local\temp\ipykernel_19636\1746220672.py(3)<module>()

ipdb>  x

2

ipdb>  y

0

ipdb>  exit()
ipdb>  exit